html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}
